{% capture ver %}{% project_version %}{% endcapture %}
{% assign start_year = "2018" %}
{% assign current_year = site.time | date: "%Y" %}
<footer class="Page-footer Footer">
  <div class="container">
    <div class="Footer-description">
      <!-- 重要链接 -->
      <nav class="Footer-navs">
        <ul>
          <li><a href="/about/"><span>关于</span></a></li>
          <li><a href="/join/"><span>招募</span></a></li>
          <li><a href="https://github.com/anti-chaos" target="_blank" rel="external nofollow"><span>GitHub</span></a></li>
        </ul>
      </nav>
      <!-- 网站版权 -->
      <div class="Footer-copyright">
        <p>&copy; {% if start_year != current_year %}{{ start_year }}-{% endif %}{{ current_year }} <a href="/">Petals</a> 版权所有</p>
      </div>
    </div>
  </div>
</footer>
