@import "../helper";

.Homepage {
  &-header {
    height: 400px;
    padding: 0 15px;
    background: image-url("banners/anti-chaos") transparent no-repeat 50% 50%;
    background-size: cover;

    &,
    > div {
      position: relative;
      overflow: hidden;
    }

    &:before {
      content: "\0020";
      background-color: #000;
      opacity: 0.35;
      @include stretch;
    }

    > div {
      max-width: 1170px;
      margin: 0 auto;
      color: #fff;
    }
  }

  &-title {
    margin: {
      top: 100px;
      bottom: 30px;
    }
    font-size: 72px;
  }

  &-slogan {
    font-size: 28px;
  }

  @media all and (max-width: $screen-sm-max) {
    &-header {
      height: 250px;
    }

    &-title {
      margin: {
        top: 80px;
        bottom: 15px;
      }
      font-size: 48px;
    }

    &-slogan {
      font-size: 20px;
    }
  }
}
