---
title: 控件
permalink: /controls/
comments: false
---

<!-- <section>
  <dl>
    {% for id in site.data.notes.note.sequence reversed %}
      {% assign note = site.data.notes.note.items[id] %}
      {% assign note_id = note.slug | default: note.id %}
      <dt>
        <a href="/notes/{{ note_id }}/">{{ note.title }}</a>
      </dt>
      {% if note.description %}<dd>{{ note.description }}</dd>{% endif %}
    {% endfor %}
  </dl>
</section> -->

{% contentfor footer %}
  {% include widgets/social.html %}
  {% include widgets/toc.html %}
{% endcontentfor %}
