---
title: 套件
permalink: /kit/
comments: false
---

<section>
  <h2>结构组件</h2>
  <h3><a href="https://github.com/kokiri-ui" target="_blank" rel="external nofollow">Kokiri</a></h3>
  <p>与 Vue 绑定的<a href="https://ourai.ws/posts/the-system-of-frontend-ui-components/#section-4" target="_blank" rel="external nofollow">结构组件</a>，提供以下既有 UI 组件库的适配包：</p>
  <ul>
    <li><a href="https://www.npmjs.com/package/@kokiri/adapter-element-ui" target="_blank" rel="external nofollow"><code>@kokiri/adapter-element-ui</code></a></li>
    <li><a href="https://www.npmjs.com/package/@kokiri/view-ui" target="_blank" rel="external nofollow"><code>@kokiri/view-ui</code></a></li>
  </ul>
  <h3><a href="https://github.com/zora-ui" target="_blank" rel="external nofollow">Zora</a></h3>
  <p>与 React 绑定的<a href="https://ourai.ws/posts/the-system-of-frontend-ui-components/#section-4" target="_blank" rel="external nofollow">结构组件</a>，提供以下既有 UI 组件库的适配包：</p>
  <ul>
    <li><a href="https://www.npmjs.com/package/@zoras/adapter-ant-design" target="_blank" rel="external nofollow"><code>@zoras/adapter-ant-design</code></a></li>
  </ul>
  <h2>开发辅助</h2>
  <ul>
    {% for slug in site.data.utils.sequence %}
      <li>
        <a href="/utils/{{ slug }}/">{{ site.data.utils.items[slug].title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

{% contentfor footer %}
  {% include widgets/social.html %}
  {% include widgets/toc.html %}
{% endcontentfor %}
